In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
# load data
data = pd.read_csv('./dataset/dirty_cafe_sales.csv')
data.head()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [5]:
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [6]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [7]:
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')
data['Price Per Unit'] = pd.to_numeric(data['Price Per Unit'], errors='coerce')
data['Total Spent'] = pd.to_numeric(data['Total Spent'], errors='coerce')

data['Transaction Date'] = pd.to_datetime(data['Transaction Date'], errors='coerce')

In [8]:
data[data['Item'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
8,TXN_4717867,NaN,5.0,3.0,15.0,NaN,Takeaway,2023-07-28
30,TXN_1736287,NaN,5.0,2.0,10.0,Digital Wallet,NaN,2023-06-02
61,TXN_8051289,NaN,1.0,3.0,3.0,NaN,In-store,2023-10-09
72,TXN_6044979,NaN,1.0,1.0,1.0,Cash,In-store,2023-12-08
89,TXN_4132730,NaN,5.0,1.0,5.0,NaN,In-store,2023-03-12
...,...,...,...,...,...,...,...,...
9820,TXN_8751702,NaN,5.0,NaN,15.0,Cash,NaN,2023-02-13
9855,TXN_3740505,NaN,2.0,1.5,3.0,NaN,NaN,2023-11-21
9876,TXN_3105633,NaN,1.0,2.0,2.0,NaN,In-store,2023-03-30
9885,TXN_4659954,NaN,3.0,4.0,12.0,Credit Card,In-store,NaT
9996,TXN_9659401,NaN,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02

In [9]:
data.groupby('Item')['Price Per Unit'].agg(['min', 'max', 'mean']).reset_index().sort_values(by='min')

       Item  min  max      mean
2    Cookie  1.0  1.0  1.000000
3     ERROR  1.0  5.0  2.944444
9   UNKNOWN  1.0  5.0  2.880368
8       Tea  1.5  1.5  1.500000
1    Coffee  2.0  2.0  2.000000
0      Cake  3.0  3.0  3.000000
4     Juice  3.0  3.0  3.000000
6  Sandwich  4.0  4.0  4.000000
7  Smoothie  4.0  4.0  4.000000
5     Salad  5.0  5.0  5.000000

In [10]:
data[data['Price Per Unit'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
56,TXN_3578141,Cake,5.0,NaN,15.0,NaN,Takeaway,2023-06-27
65,TXN_4987129,Sandwich,3.0,NaN,NaN,NaN,In-store,2023-10-20
68,TXN_8427104,Salad,2.0,NaN,10.0,NaN,In-store,2023-10-27
85,TXN_8035512,Tea,3.0,NaN,4.5,Cash,UNKNOWN,2023-10-29
104,TXN_7447872,Juice,2.0,NaN,6.0,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...
9924,TXN_5981429,Juice,2.0,NaN,6.0,Digital Wallet,NaN,2023-12-24
9926,TXN_2464706,Cake,4.0,NaN,12.0,Digital Wallet,Takeaway,2023-11-09
9961,TXN_2153100,Tea,2.0,NaN,3.0,Cash,NaN,2023-12-29
9996,TXN_9659401,NaN,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02
9998,TXN_7695629,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,2023-12-02

In [11]:
data['Price Per Unit'] = data['Price Per Unit'].fillna(data['Total Spent']/data['Quantity'])

In [12]:
data['Total Spent'] = data['Total Spent'].fillna(data['Quantity']*data['Price Per Unit'])

In [13]:
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity             479
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [14]:
data['Quantity'] = data['Quantity'].fillna(data['Total Spent']/data['Price Per Unit'])

In [15]:
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [16]:
price_dict = {
    1.0 : 'Cookie',
    1.5 : 'Tea',
    2.0 : 'Coffee',
    5.0 : 'Salad'
}

data['Item'] = data['Item'].fillna(data['Price Per Unit'].map(price_dict))

In [17]:
data.isnull().sum()

Transaction ID         0
Item                 176
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [18]:
data['Item'] = data['Item'].replace(['UNKNOWN', 'ERROR'], None)

In [19]:
data['Item'] = data['Item'].fillna(data['Price Per Unit'].map(price_dict))

In [20]:
data.isnull().sum()

Transaction ID         0
Item                 480
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [21]:
data.groupby('Item')['Price Per Unit'].agg(['min', 'max', 'mean']).reset_index().sort_values(by='min')

       Item  min  max  mean
2    Cookie  1.0  1.0   1.0
7       Tea  1.5  1.5   1.5
1    Coffee  2.0  2.0   2.0
0      Cake  3.0  3.0   3.0
3     Juice  3.0  3.0   3.0
5  Sandwich  4.0  4.0   4.0
6  Smoothie  4.0  4.0   4.0
4     Salad  5.0  5.0   5.0

In [22]:
price_reference = data.groupby('Price Per Unit')['Item'].agg(lambda x: x.mode()[0]).to_dict()

print(price_reference)

{1.0: 'Cookie', 1.5: 'Tea', 2.0: 'Coffee', 3.0: 'Juice', 4.0: 'Sandwich', 5.0: 'Salad'}

In [23]:
price_dict = {
    1.0 : 'Cookie',
    1.5 : 'Tea',
    2.0 : 'Coffee',
    3.0 : 'Juice',
    4.0 : 'Sandwich',
    5.0 : 'Salad'
}

data['Item'] = data['Item'].fillna(data['Price Per Unit'].map(price_dict))

In [24]:
data.isnull().sum()

Transaction ID         0
Item                   6
Quantity              38
Price Per Unit        38
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [25]:
data[data['Price Per Unit'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
65,TXN_4987129,Sandwich,3.0,NaN,NaN,NaN,In-store,2023-10-20
629,TXN_9289174,Cake,NaN,NaN,12.0,Digital Wallet,In-store,2023-12-30
912,TXN_1575608,Sandwich,NaN,NaN,20.0,ERROR,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,NaN,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,NaN,6.0,Cash,Takeaway,NaT
1482,TXN_3593060,Smoothie,NaN,NaN,16.0,Cash,NaN,2023-03-05
1674,TXN_9367492,Tea,2.0,NaN,NaN,Cash,In-store,2023-06-19
1761,TXN_3611851,NaN,4.0,NaN,NaN,Credit Card,NaN,2023-02-09
2229,TXN_8498613,Sandwich,2.0,NaN,NaN,NaN,NaN,2023-11-08
2289,TXN_7524977,NaN,4.0,NaN,NaN,ERROR,NaN,2023-12-09
2330,TXN_3849488,Salad,NaN,NaN,5.0,NaN,In-store,2023-03-01
2585,TXN_1259340,Tea,3.0,NaN,NaN,Digital Wallet,NaN,2023-02-24
3162,TXN_3577949,Cake,3.0,NaN,NaN,ERROR,Takeaway,2023-04-25
3598,TXN_2857444,Smoothie,1.0,NaN,NaN,Cash,Takeaway,2023-05-10
3635,TXN_6177081,Cookie,NaN,NaN,1.0,Cash,ERROR,2023-07-26
3673,TXN_6500126,Smoothie,2.0,NaN,NaN,NaN,UNKNOWN,NaT
3779,TXN_7376255,NaN,NaN,NaN,25.0,NaN,In-store,2023-05-27
4021,TXN_6424202,Cookie,2.0,NaN,NaN,Credit Card,In-store,2023-11-20
4152,TXN_9646000,NaN,2.0,NaN,NaN,NaN,In-store,2023-12-14
5639,TXN_6206792,Tea,NaN,NaN,6.0,Credit Card,NaN,2023-10-13
5845,TXN_8388462,Smoothie,NaN,NaN,8.0,UNKNOWN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,NaN,2.0,NaN,UNKNOWN,NaT
6661,TXN_5308047,Cookie,NaN,NaN,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,NaN,4.0,ERROR,NaN,2023-09-08
7035,TXN_8872984,Salad,5.0,NaN,NaN,Credit Card,In-store,2023-08-23
7230,TXN_5118799,Cookie,2.0,NaN,NaN,Cash,Takeaway,2023-04-23
7244,TXN_2253622,Sandwich,5.0,NaN,NaN,Digital Wallet,Takeaway,2023-09-30
7568,TXN_3705445,Cookie,5.0,NaN,NaN,Cash,In-store,2023-09-13
7597,TXN_1082717,NaN,NaN,NaN,9.0,Digital Wallet,In-store,2023-12-13
7686,TXN_6905143,Coffee,5.0,NaN,NaN,Cash,ERROR,2023-08-09
8128,TXN_6105807,Smoothie,3.0,NaN,NaN,Credit Card,Takeaway,2023-01-18
8497,TXN_1525583,Sandwich,3.0,NaN,NaN,Cash,Takeaway,2023-05-20
8669,TXN_7764304,Cake,NaN,NaN,3.0,Credit Card,Takeaway,2023-01-09
8975,TXN_8077367,Tea,NaN,NaN,7.5,Credit Card,NaN,2023-02-27
9212,TXN_7322317,Tea,1.0,NaN,NaN,NaN,NaN,2023-03-16
9464,TXN_5744797,Cake,NaN,NaN,3.0,Cash,In-store,2023-12-20
9819,TXN_1208561,NaN,NaN,NaN,20.0,Credit Card,NaN,2023-08-19
9893,TXN_3809533,Juice,2.0,NaN,NaN,Digital Wallet,Takeaway,2023-02-02

In [26]:
item_dict = {
    'Cookie': 1.0,
    'Tea' : 1.5,
    'Coffee' : 2.0,
    'Cake' : 3.0,
    'Juice' : 3.0,
    'Sandwich' : 4.0,
    'Smoothie' : 4.0,
    'Salad' : 5.0
}

data['Price Per Unit'] = data['Price Per Unit'].fillna(data['Item'].map(item_dict))

In [27]:
data.isnull().sum()

Transaction ID         0
Item                   6
Quantity              38
Price Per Unit         6
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [28]:
data[data['Quantity'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-18
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15
629,TXN_9289174,Cake,NaN,3.0,12.0,Digital Wallet,In-store,2023-12-30
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,2023-03-17
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-05-14
912,TXN_1575608,Sandwich,NaN,4.0,20.0,ERROR,Takeaway,2023-01-05
1008,TXN_7225428,Tea,NaN,1.5,3.0,Credit Card,Takeaway,2023-03-07
1436,TXN_7590801,Tea,NaN,1.5,6.0,Cash,Takeaway,NaT
1482,TXN_3593060,Smoothie,NaN,4.0,16.0,Cash,NaN,2023-03-05
2330,TXN_3849488,Salad,NaN,5.0,5.0,NaN,In-store,2023-03-01
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,2023-12-01
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06
3224,TXN_6297232,Coffee,NaN,2.0,NaN,NaN,NaN,2023-04-07
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25
3635,TXN_6177081,Cookie,NaN,1.0,1.0,Cash,ERROR,2023-07-26
3779,TXN_7376255,NaN,NaN,NaN,25.0,NaN,In-store,2023-05-27
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18
5639,TXN_6206792,Tea,NaN,1.5,6.0,Credit Card,NaN,2023-10-13
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05
5845,TXN_8388462,Smoothie,NaN,4.0,8.0,UNKNOWN,Takeaway,2023-08-19
6225,TXN_6859249,Cookie,NaN,1.0,2.0,NaN,UNKNOWN,NaT
6661,TXN_5308047,Cookie,NaN,1.0,1.0,Credit Card,NaN,2023-10-28
6674,TXN_3071092,Coffee,NaN,2.0,4.0,ERROR,NaN,2023-09-08
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,NaN,2023-12-25
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03
7597,TXN_1082717,NaN,NaN,NaN,9.0,Digital Wallet,In-store,2023-12-13
8021,TXN_2428781,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-09
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25
8465,TXN_9669616,Coffee,NaN,2.0,NaN,NaN,ERROR,2023-06-03
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-09-11
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08
8669,TXN_7764304,Cake,NaN,3.0,3.0,Credit Card,Takeaway,2023-01-09
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04
8975,TXN_8077367,Tea,NaN,1.5,7.5,Credit Card,NaN,2023-02-27
9464,TXN_5744797,Cake,NaN,3.0,3.0,Cash,In-store,2023-12-20
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18
9819,TXN_1208561,NaN,NaN,NaN,20.0,Credit Card,NaN,2023-08-19
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,NaN,2023-01-15

In [29]:
data['Quantity'] = data['Quantity'].fillna(data['Total Spent']/data['Price Per Unit'])

In [30]:
data.isnull().sum()

Transaction ID         0
Item                   6
Quantity              23
Price Per Unit         6
Total Spent           40
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [31]:
data[data['Total Spent'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
65,TXN_4987129,Sandwich,3.0,4.0,NaN,NaN,In-store,2023-10-20
236,TXN_8562645,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-18
278,TXN_3229409,Juice,NaN,3.0,NaN,Cash,Takeaway,2023-04-15
641,TXN_2962976,Juice,NaN,3.0,NaN,NaN,NaN,2023-03-17
738,TXN_8696094,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-05-14
1674,TXN_9367492,Tea,2.0,1.5,NaN,Cash,In-store,2023-06-19
1761,TXN_3611851,NaN,4.0,NaN,NaN,Credit Card,NaN,2023-02-09
2229,TXN_8498613,Sandwich,2.0,4.0,NaN,NaN,NaN,2023-11-08
2289,TXN_7524977,NaN,4.0,NaN,NaN,ERROR,NaN,2023-12-09
2585,TXN_1259340,Tea,3.0,1.5,NaN,Digital Wallet,NaN,2023-02-24
2796,TXN_9188692,Cake,NaN,3.0,NaN,Credit Card,NaN,2023-12-01
3162,TXN_3577949,Cake,3.0,3.0,NaN,ERROR,Takeaway,2023-04-25
3203,TXN_4565754,Smoothie,NaN,4.0,NaN,Digital Wallet,Takeaway,2023-10-06
3224,TXN_6297232,Coffee,NaN,2.0,NaN,NaN,NaN,2023-04-07
3401,TXN_3251829,Tea,NaN,1.5,NaN,Digital Wallet,In-store,2023-07-25
3598,TXN_2857444,Smoothie,1.0,4.0,NaN,Cash,Takeaway,2023-05-10
3673,TXN_6500126,Smoothie,2.0,4.0,NaN,NaN,UNKNOWN,NaT
4021,TXN_6424202,Cookie,2.0,1.0,NaN,Credit Card,In-store,2023-11-20
4152,TXN_9646000,NaN,2.0,NaN,NaN,NaN,In-store,2023-12-14
4257,TXN_6470865,Coffee,NaN,2.0,NaN,Digital Wallet,Takeaway,2023-09-18
5841,TXN_5884081,Cookie,NaN,1.0,NaN,Digital Wallet,In-store,2023-07-05
7029,TXN_4628338,Coffee,NaN,2.0,NaN,Cash,NaN,2023-12-25
7035,TXN_8872984,Salad,5.0,5.0,NaN,Credit Card,In-store,2023-08-23
7230,TXN_5118799,Cookie,2.0,1.0,NaN,Cash,Takeaway,2023-04-23
7244,TXN_2253622,Sandwich,5.0,4.0,NaN,Digital Wallet,Takeaway,2023-09-30
7297,TXN_9944500,Smoothie,NaN,4.0,NaN,Cash,In-store,2023-01-03
7568,TXN_3705445,Cookie,5.0,1.0,NaN,Cash,In-store,2023-09-13
7686,TXN_6905143,Coffee,5.0,2.0,NaN,Cash,ERROR,2023-08-09
8021,TXN_2428781,Salad,NaN,5.0,NaN,NaN,In-store,2023-05-09
8128,TXN_6105807,Smoothie,3.0,4.0,NaN,Credit Card,Takeaway,2023-01-18
8443,TXN_2023651,Sandwich,NaN,4.0,NaN,Cash,In-store,2023-05-25
8465,TXN_9669616,Coffee,NaN,2.0,NaN,NaN,ERROR,2023-06-03
8479,TXN_1547245,Sandwich,NaN,4.0,NaN,NaN,Takeaway,2023-09-11
8497,TXN_1525583,Sandwich,3.0,4.0,NaN,Cash,Takeaway,2023-05-20
8574,TXN_2546684,Juice,NaN,3.0,NaN,Digital Wallet,Takeaway,2023-04-08
8732,TXN_4550558,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-08-04
9212,TXN_7322317,Tea,1.0,1.5,NaN,NaN,NaN,2023-03-16
9590,TXN_9924732,Sandwich,NaN,4.0,NaN,Credit Card,In-store,2023-01-18
9869,TXN_1975184,Coffee,NaN,2.0,NaN,Digital Wallet,NaN,2023-01-15
9893,TXN_3809533,Juice,2.0,3.0,NaN,Digital Wallet,Takeaway,2023-02-02

In [32]:
data['Total Spent'] = data['Total Spent'].fillna(data['Price Per Unit']*data['Quantity'])

In [33]:
data.isnull().sum()

Transaction ID         0
Item                   6
Quantity              23
Price Per Unit         6
Total Spent           23
Payment Method      2579
Location            3265
Transaction Date     460
dtype: int64

In [34]:
data[data['Location'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-31
16,TXN_3765707,Sandwich,1.0,4.0,4.0,NaN,NaN,2023-06-10
23,TXN_2616390,Sandwich,2.0,4.0,8.0,NaN,NaN,2023-09-18
28,TXN_8467949,Smoothie,5.0,4.0,20.0,Credit Card,NaN,2023-03-11
30,TXN_1736287,Coffee,5.0,2.0,10.0,Digital Wallet,NaN,2023-06-02
...,...,...,...,...,...,...,...,...
9993,TXN_4766549,Smoothie,2.0,4.0,8.0,Cash,NaN,2023-10-20
9994,TXN_7851634,Sandwich,4.0,4.0,16.0,NaN,NaN,2023-01-08
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02

In [35]:
data_cleaned = data.dropna(subset=['Item', 'Quantity', 'Price Per Unit', 'Total Spent'])

In [36]:
data_cleaned.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2570
Location            3257
Transaction Date     460
dtype: int64

In [37]:
data_cleaned['Payment Method'] = data_cleaned['Payment Method'].fillna(data_cleaned['Payment Method'].mode()[0])
data_cleaned['Location'] = data_cleaned['Location'].fillna(data_cleaned['Location'].mode()[0])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17312\3536391332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Payment Method'] = data_cleaned['Payment Method'].fillna(data_cleaned['Payment Method'].mode()[0])
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17312\3536391332.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Location'] = data_cleaned['Location'].fillna(data_cleaned['Location'].mode()[0])

In [38]:
data_cleaned.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    460
dtype: int64

In [39]:
data_cleaned.head(15)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3.0,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,Juice,5.0,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,NaT
12,TXN_7619095,Sandwich,2.0,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5.0,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
14,TXN_8915701,Tea,2.0,1.5,3.0,Digital Wallet,In-store,2023-03-21

In [40]:
data_cleaned = data_cleaned.dropna(subset=['Transaction Date'])

In [41]:
data_cleaned.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [43]:
data_cleaned.to_csv('./dataset/clean_cafe_sales.csv', index=False)